<!doctype html>
<html lang="en">
<head>
    {{> head}}
    <title>{{article.name}}</title>
</head>
<body class="text-black bg-white dark:text-white dark:bg-gray-800 overscroll-none">
    {{> header}}
    <div class="px-1 md:px-2 h-[calc(100vh-1.5rem)] overflow-auto">
        <h1 class="text-4xl font-semibold mt-4">{{article.name}}</h1>
        <span class="text-sm text-gray-600 dark:text-gray-400 ml-4">{{article.date}}</span>
        <div class="flex flex-wrap mt-2 ml-8 gap-4">
            {{#each authors}}
            <a class="hover:bg-gray-100 dark:hover:bg-gray-900 rounded p-2" href="/{{../path}}/authors/{{id}}.html">
                {{#if avatar}}
                <img class="w-8 h-8 rounded-full inline-block" src="{{avatar.src}}" width="{{avatar.width}}" height="{{avatar.height}}">
                {{/if}}
                {{name}}
            </a>
            {{/each}}
        </div>
        <div class="flex flex-wrap gap-2 mt-4 font-sm">
            {{#each article.tags}}
            <a class="p-1 rounded-xl bg-gray-200 hover:bg-gray-300 text-blue-600 dark:bg-gray-700 dark:hover:bg-gray-900 dark:text-blue-400" href="/{{../path}}/tags/{{this}}.html">
                {{this}}
            </a>
            {{/each}}
        </div>
        <hr class="my-4 text-gray-800 dark:text-gray-900">
        {{#include_markdown file=file}}
        {{/include_markdown}}

        {{> footer}}
    </div>
</body>
</html>