<!doctype html>
<html lang="en">
<head>
    {{> head}}
    <title>Blog Articles</title>
</head>
<body class="text-black bg-white dark:text-white dark:bg-gray-800 overscroll-none">
    {{> header}}
    <div class="px-1 md:px-2  h-[calc(100vh-1.5rem)] overflow-auto">
        {{#if tag}}
        <h1 class="text-4xl font-bold mt-4 text-center">Articles tagged with {{tag}}</h1>
        {{else}}
        <h1 class="text-4xl font-bold mt-4 text-center">Blog</h1>
        {{/if}}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-4">
            {{#each articles}}
            <div class="rounded-xl bg-gray-200 dark:bg-gray-900 p-2">
                    <a class="block w-full rounded hover:bg-gray-300 dark:hover:bg-gray-700" href="/{{../path}}/articles/{{id}}/article.html">
                        <h2 class="font-semibold text-lg">{{name}}</h2>
                        <span class="text-sm text-gray-600 dark:text-gray-400 ml-4">{{date}}</span>
                    </a>
                    <div class="inline-flex flex-wrap gap-x-1 mt-4 font-sm">
                        <span>Tags:</span>
                        {{#each tags}}
                        <a class="inline rounded-full text-blue-600 hover:bg-gray-300 dark:text-blue-400 dark:hover:bg-gray-700" href="/{{../../path}}/tags/{{this}}.html">
                            {{this}}
                        </a>
                        {{/each}}
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    
        {{> footer}}
    </div>
</body>
</html>