<!doctype html>
<html lang="en">
<head>
    {{> head}}
    <title>{{name}}</title>
</head>
<body class="text-black bg-white dark:text-white dark:bg-gray-800 overscroll-none">
    {{> header}}
    {{#if doclinks}}
    <div class="lg:flex flex-auto h-[calc(100vh-1.5rem)] w-full">
        <div class="hidden lg:block flex-shrink-0 overflow-y-auto h-full bg-gray-100 dark:bg-gray-900">
            <p class="font-bold underline text-center">Quick access</p>
            {{#each doclinks}}
            {{{docsidebarlink ref=@key name=this}}}
            {{/each}}
        </div>
        <div class="px-1 md:px-2 w-full h-full overflow-auto">
            <div class="markdown">
                {{{markdown}}}
            </div>
            {{> footer}}
        </div>
    </div>
    {{else}}
    <div class="h-[calc(100vh-1.5rem)] w-full overflow-auto">
        <div class="markdown">
            {{{markdown}}}
        </div>
        {{> footer}}
    </div>
    {{/if}}
</body>
</html>